@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}
:root {
    --blue:hsl(246, 80%, 60%);
    --light-red-work:hsl(15, 100%, 70%);
    --soft-blue-play:hsl(195, 74%, 62%);
    --light-red-study:hsl(348, 100%, 68%);
    --lime-green-exercise:hsl(145, 58%, 55%);
    --violet-social:hsl(264, 64%, 52%);
    --soft-orange-sc:hsl(43, 84%, 65%);

    --v-dark-blue:hsl(226, 43%, 10%);
    --dark-blue:hsl(235, 46%, 20%);
    --desature-blue:hsl(235, 45%, 61%);
    --pale-blue:hsl(236, 100%, 87%);

    --font-family:'Rubik', sans-serif;
}
body {
    font-size: 1.5rem;
    font-family: var(--font-family);
    background-color: var(--v-dark-blue);
    color: white;
}
ul {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
ul li {
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--desature-blue);
}
.active, .btn:hover {
    color: white;
  }
.main{
    width: 960px;
    margin: 0 auto;
    height: 95vh;
}
.grid-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
}
.box{
    width: 350px;
    background-color: var(--dark-blue);
    border-radius: 20px;
}
.report-for{
    padding: 2em;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    gap: 3%; 
    border-radius: 20px;
}
.report-for img{
    width: 80px;
    background-color: white;
    border-radius: 50px;
    padding: 0.15em;
}
.report-for-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.make-small{
    font-size: 1rem;
    font-weight: 100;
}